/*==== BLOG CSS ====*/
.single_instructor .blog_item {
  cursor: pointer;
  display: block;
  margin-top: 30px;
}

@media only screen and (max-width: 479px) {
  .single_instructor .blog_item {
    margin-top: 25px;
  }
}

.single_instructor .blog_item:hover img {
  transform: scale(1.05);
}

.single_instructor .blog_item:hover .blog_item_title {
  color: var(--frontend-primary, #4254FF);
}

.single_instructor .blog_item_img {
  display: block;
  width: 100%;
  padding-bottom: 60.65%;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .blog_item_img {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .blog_item_img {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .blog_item_img {
    margin-bottom: 10px;
  }
}

.single_instructor .blog_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.single_instructor .blog_item > span {
  color: var(--frontend-text-color, #687083);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .blog_item > span {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .blog_item > span {
    margin-bottom: 5px;
  }
}

.single_instructor .blog_item_title {
  display: block;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--frontend-primary-2, #00124E);
  transition: all .4s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .blog_item_title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .blog_item_title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .single_instructor .blog_item_title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .blog_item_title {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .blog_item_title {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .blog_item_title {
    margin-bottom: 10px;
  }
}

.single_instructor .blog_item .redmore {
  transition: all .4s ease-in-out;
  color: var(--frontend-primary, #4254FF);
}

.single_instructor .blog_item .redmore span {
  border-color: var(--frontend-primary, #4254FF);
}
