/*==== BUNDLE CSS ====*/
.single_instructor .bundle_item {
  margin-top: 30px;
  padding: 30px;
  padding-bottom: 40px;
  border: 1px solid var(--frontend-border, #E3E6EF);
  border-radius: 10px;
  transition: all .4s ease-in-out;
}

@media only screen and (min-width: 1440px) and (max-width: 1580px) {
  .single_instructor .bundle_item {
    padding: 25px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .bundle_item {
    padding: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .bundle_item {
    padding: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .bundle_item {
    padding: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item {
    padding: 20px;
  }
}

.single_instructor .bundle_item_wrapper {
  height: 100%;
}

.single_instructor .bundle_item_wrapper_head {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--frontend-border, #E3E6EF);
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .bundle_item_wrapper_head {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .bundle_item_wrapper_head {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .bundle_item_wrapper_head {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item_wrapper_head {
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
}

.single_instructor .bundle_item_wrapper_head h4 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 5px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 991px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item_wrapper_head h4 {
    font-size: 16px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .bundle_item_wrapper_head p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .bundle_item_wrapper_head p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .bundle_item_wrapper_head p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item_wrapper_head p {
    font-size: 14px;
  }
}

.single_instructor .bundle_item_wrapper_body ul {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .single_instructor .bundle_item_wrapper_body ul {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_instructor .bundle_item_wrapper_body ul {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .bundle_item_wrapper_body ul {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item_wrapper_body ul {
    margin-bottom: 20px;
  }
}

.single_instructor .bundle_item_wrapper_body ul li {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item_wrapper_body ul li {
    font-size: 14px;
  }
}

.single_instructor .bundle_item_wrapper_body ul li:not(:last-child) {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_instructor .bundle_item_wrapper_body ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .single_instructor .bundle_item_wrapper_body ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.single_instructor .bundle_item_wrapper_body ul li i {
  font-size: 5px;
  margin-right: 10px;
  color: var(--frontend-primary, #4254FF);
  line-height: 26px;
}

html[dir="rtl"] .single_instructor .bundle_item_wrapper_body ul li i {
  margin-right: 0px;
  margin-left: 10px;
}

.single_instructor .bundle_item_wrapper_body a {
  display: block;
  line-height: 18px;
}
